.body-main {
    background-image: url(../images/bg2.jpg);
    /* Путь к фоновому изображению */
    /* Цвет фона */
    /*    background-color: #c7b39b; */
    overflow-x: hidden;
    color: aliceblue;
}

.row-margin-bottom {
    margin-bottom: 30px;
}


/* цвет активного элемента nav-tab */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: wheat;
    background-color: transparent;  
}