.body-main {
    background-image: url(../images/bg2.jpg);
    /* Путь к фоновому изображению */
    /* Цвет фона */
    /*    background-color: #c7b39b; */
    overflow-x: hidden;
    color: aliceblue;
}

.row-margin-bottom {
    margin-bottom: 30px;
}


.page-header li a {
    color: white;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.page-header li a:hover,
.page-header li a:focus {
    color: wheat;
}